<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel = "stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.jpg">
    </head>
    <body>
         <div class ="main-content">
            <p>This site uses data from mapbox.com and weatherstack.com</p>
            {{>header}}
            <img class = "portrait" src = "/img/img.jpg">
        </div>
        
            {{>footer}}
    </body>
</html>